.dFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  margin: 0 auto;
  background-color: antiquewhite;
  max-width: 90%;
  height: 50%;
  flex-direction: column;
}
.List {
  flex-direction: column;
  row-gap: 15px;
  align-items: flex-start;
}
.List li{
    font-size: 18px;
    line-height: 22px;
}
.btnContainer{
  column-gap: 30px;
  font-size: 18px;
}
.btnContainer button{
  outline: none;
  cursor: pointer;
  border: 0;
  background-color: aquamarine;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
}