.outer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  width: 400px;
}
.inner1 {
  color: rebeccapurple;
  font-size: 32px;
}

.inner2 {
  color: burlywood;
}
