* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

i,
svg {
  pointer-events: none;
}
.sequencer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.kick-pad,
.snare-pad,
.hihat-pad {
  width: 3rem;
  height: 3rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}
.kick-pad {
  background: rgb(160, 211, 224);
}
.kick-pad.active {
  background: rgb(33, 211, 255);
}
.snare-pad {
  background: rgb(224, 160, 208);
}
.snare-pad.active {
  background: rgb(255, 60, 206);
}
.hihat-pad {
  background: rgb(224, 194, 160);
}
.hihat-pad.active {
  background: rgb(255, 175, 83);
}

h1 {
  font-size: 1.2rem;
}

.hihat-track,
.snare-track,
.kick-track {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-evenly;
  margin-top: 2rem;
}
.kick,
.snare,
.hihat {
  display: flex;
}
.controls {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 1rem;
}
.controls button {
  padding: 0.5rem;
  border: none;
  background: rgb(88, 88, 88);
  color: white;
  cursor: pointer;
  font-size: 1rem;
  transition: all 1s ease;
}
.pad {
  transition: all 0.5s ease;
}
.play {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background: rgb(88, 88, 88);
  color: wheat;
  border: none;
  cursor: pointer;
  margin-top: 3rem;
}
select {
  padding: 0.5rem;
  font-size: 1rem;
}
@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

.mute.active {
  background: rgb(182, 182, 182);
}
.tempo {
  margin: 3rem;
  width: 40%;
}
.tempo-slider {
  width: 100%;
  padding: 0.2rem;
  -webkit-appearance: none;
  appearance: none;
  margin: 1rem 0;
  position: relative;
  background-color: rgb(88, 88, 88);
  cursor: pointer;
  border-radius: 1rem;
  /* width: 100%; */
}
.tempo p {
  font-size: 1.3rem;
  font-weight: 700;
  margin: 0 1rem;
  text-align: center;
}
